.navbar {
  background-color: var(--bs-dark);
  --bs-dark: #141413;
}
.nav-link {
  color: #ec258a !important;
  transition: color ease .3s;
}
.navbar-toggler {
  color: #d90368 !important;
}
.nav-link:hover, footer a:hover {
  color: #d90368 !important;
}
.active {
  color: #d90368 !important;
}
.btn {
  background-color:#d90368 !important;
  border: none;
  transition: background ease .5s;
  cursor: pointer;
}
.btn:hover {
  background-color:#b70146 !important;
}
.btn:active {
  background-color:#f92368 !important;
}
.banner {
  height: 180px;
  background-color: var(--bs-gray-800);
}
footer {
  background-color: var(--bs-gray-800);
}
footer a, footer p {
  color: #ec258a !important;
}
footer a {
  transition: color ease .3s;
}
.contact-content form{
  width: 75%;
  max-width: 620px;
}